extends layout

block content
    .container
        h3 Mojan page
        button.continue Test
        .game
            h3 Название игры
            .body
            .game-fotter
                span.score Счет
