extends layout

block content
    .container
        h3 Mojan page
        button.continue Test
        .game
            h3 Название игры
            table(cols="10" border="1")
                tbody.game
        a ЗАЕБАЛО ВСЕ ГОСПАДЕ
