.header
    .logo
        a JPSS
    .menu
        if authorised
            span Кнопок нет, т.к авторизован
        else
            form(action="")
                button.btn Авторизация
                button.btn Регистрация
    