.menu
    if authorised
        span Кнопок нет, т.к авторизован
    else
        .logo
            a JPSS
        .dropdown1
            .dropdown
                button.btn.btn-secondary.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Авторизация
                .dropdown2
                    .dropdown-menu
                        form.px-4.py-3(action="/login" method ="POST")
                            .form-group
                                label(for="exampleDropdownFormEmail1") Email address
                                input(type="email" class="form-control" name="email" id="exampleDropdownFormEmail1" placeholder="email@example.com")
                            .form-group
                                label(for="exampleDropdownFormPassword1") Password
                                input(type="password" class="form-control" name="password" id="exampleDropdownFormPassword1" placeholder="Password")
                            .btn2
                                button(type="submit" class="btn btn-primary") Sign Up
                
        
    