.header
    .logo
        a JPSS
    .menu
        if authorised
            span Кнопок нет, т.к авторизован
        else
            a(href="/login")
                button.btn Авторизация
            a(href="/register")
                button.btn Регистрация
    